section.sidebar.show
	.user-sidebar
		h1 Library
		.search
			.row
				.col-lg-8
					.input-group
						span.input-group-addon
							i.glyphicon.glyphicon-search
						input.form-control(type="text", placeholder="Search", style="height:39px")
				.btn-group.col-lg-4
					button.btn.btn-default.dropdown-toggle(style="height:39px", type="button", data-toggle="dropdown" aria-expanded="false") Group by
						span.caret(style="margin-left: 5px;")
					ul.dropdown-menu(role="menu", style="margin-left: 15px;")
						li
							a Songs
							a Artists
							a Albums
							a Genre
		.library
			.tree
				ul.lib
					for artistsGroup in library
						li
							span
								i.glyphicon.glyphicon-folder-open
								= artistsGroup.artist
							ul
								for album in artistsGroup.albums
									li(style="display: none")
										span= album.title
										ul
											for track in album.tracks
												li(style="display: none")
													span.track(data-uid="#{track.uid}")= track.title
	.pending-list
			.list
				for track in data.playlist
					.song
						.info
							.song-title= track.title
							.song-artist= track.artist
							.song-infos= track.duration
						.play
							.button(data-uid="#{track.uid}", data-encoding="#{track.encoding}") Play
						.layer
							.top
							.left
							.right
							.bottom
block scripts
	script.
		$(function(){
			$('.parent_li').on("dblclick", function(){

			});

			$('.track').on("dblclick", function(){
				var uidFile = $(this).data("uid");
				$.ongaku.playlist.append(uidFile);
			});
		});
