extends app
block append headpage
    title Ongaku music
block append library
    include library
block append songlist
    section.song-list
        .list-container
            .infos
                .artist
                    span Playlist
                    if data.playlistname
                      input.form-control(type="text", style="height: 39px", value="#{data.playlistname}")
                    else
                      input.form-control(type="text", style="height: 39px", value="Unsaved Playlist")
                .playlists
                    .form-group.form-group-sm
                      label.col-md-8.control-label(style="display: inline-block; vertical-align: middle; line-height: 39px;") Saved Playlists:
                      .col-md-2
                        button.btn.btn-default.dropdown-toggle(style="height:39px; display: inline-block;", type="button", data-toggle="dropdown" aria-expanded="false") Playlists
                            span.caret(style="margin-left: 5px;")
                        ul.dropdown-menu(role="menu", style="margin-left: 15px;")
                            li
                                a Playlist1
                                a Playlist2
                                a Playlist3
                                a Playlist4
            .list-actions
                span.button
                    i.fa.fa-heart
                span.button
                    i.fa.fa-plus
                span.button
                    i.fa.fa-eraser
            .playlist-columns
                .tracks-columns
                    .track-info.track-px
                        .track-info.track-num
                            span Track
                        .track-info.track-time
                            span Duration
                    .track-info.track
                        .track-info.track-title
                            span Title
                        .track-info.track-artist
                            span Artist
            .songs-container.scroll-pane
                // TODO retrieve this list from server side
                ul.playlist
                    - var trackNum = 0
                    for track in data.playlist
                        li
                            a.song(data-uid="#{track.uid}", data-track="#{++trackNum}")
                                .track-info.track-px
                                    .track-info.track-num
                                        span= trackNum
                                    .track-info.track-time
                                        span= track.duration
                                .track-info.track
                                    .track-info.track-title
                                        span= track.title
                                    .track-info.track-artist
                                        span= track.artist
                .song
block append scripts
  script.
    $(function(){
      $.ongaku.library.bind();
      $.ongaku.library.fetch();
    });
