extends app
block append headpage
	title Ongaku video
block append library
	include videolibrary
block append songlist
	section.song-list
		.list-container.video
			.infos
				.artist
					span Playlist
				.album
					img(url="https://a4-images.myspacecdn.com/images04/3/66428a7344ef45cab06b730823baf13a/full.jpg")
					span.title Unsaved Playlist
				.playlists
					button.btn.btn-default.dropdown-toggle(style="height:39px", type="button", data-toggle="dropdown" aria-expanded="false") Playlists
						span.caret(style="margin-left: 5px;")
					ul.dropdown-menu(role="menu", style="margin-left: 15px;")
						li
							a Playlist1
							a Playlist2
							a Playlist3
							a Playlist4
			.list-actions
				span.button
					i.fa.fa-heart
				span.button
					i.fa.fa-plus
			.songs-container.scroll-pane
				// TODO retrieve this list from server side 
				ul.playlist
					- var trackNum = 0
					for track in data.playlist
						li
							a.song(data-uid="#{track.uid}", data-track="#{++trackNum}")
								.track-info.track-px
									.track-info.track-num
										span= trackNum
									.track-info.track-time
										span= track.duration	
								.track-info.track
									.track-info.track-title
										span= track.title
									.track-info.track-artist
										span= track.artist
				.song
