section.sidebar.show
	h1(style="margin: 0px;") Video library
	.search
		.col-lg-8
			.input-group
				span.input-group-addon
					i.glyphicon.glyphicon-search
				input.searchbox.form-control(type="text", placeholder="Search", style="height:39px", data-type="video")
	if (data.message !== null)
		h1.message
			i.fa.fa-circle-o-notch.fa-spin 
			span.text= data.message
	.user-sidebar.library-view(style="position: absolute; top: 140px; bottom: 70px; left: 0px; right: 10%; overflow-y: auto;")
		.library
			ul.lib.group.artist.open
				for video in library
					li(style="width: 494px; display: inline-block;")
						a.link.video
							.name #{video.name}
							video.player-video.video-js.vjs-default-skin(height="270", width="480", id="#{video.uid}", controls preload="auto")
								source(src="/api/video/stream/#{video.uid}", type="video/#{video.extension}")
	.pending-list.video
			.list.scroll-pane
				for track in data.playlist
					.song
						.layer
							.top
							.left
							.right
							.bottom
						.info
							.song-title= track.title
							.song-artist= track.artist
							.song-infos= track.duration
						.play
							.button(data-uid="#{track.uid}", data-encoding="#{track.encoding}") Play

block scripts
	script.
		$(function(){
			$.ongaku.library.bind();
			$.ongaku.library.loadVideo();
			
			$('.parent_li').on("dblclick", function(){

			});

			$('.trackappend:not(.disabled)').on("click", function(){
				var uidFile = $(this).data("uid");
				$.ongaku.playlist.append(uidFile);
			});
		});
