section.sidebar.show
	.search
		.col-lg-8.col-md-8.col-xs-8
			.input-group
				span.input-group-addon
					i.glyphicon.glyphicon-search
				input.searchbox.form-control(type="text"
					, placeholder='#{i18n.search}', style="height:3rem", data-type="audio")
				.layer
		.col-lg-4.col-md-4.col-xs-4
			.btn-group
				a.btn.btn-default.downloader(href="#", style="margin-left: 5px; display: none; height:39px; padding-top: 8px;") search result
					i.glyphicon.glyphicon-download(style="padding-left: 5px;")
			.btn-group
				button.btn.btn-default.dropdown-toggle.groupby-button(type="button", data-toggle="dropdown" aria-expanded="false")="Group by"
					span.caret(style="margin-left: 5px;")
				ul.dropdown-menu.groupby.groupby-menu(role="menu")
					li
						a(data-groupby="artist,album") Artists / Albums
						a(data-groupby="artist") Artists
						a(data-groupby="album") Albums
						a(data-groupby="genre") Genre
						a(data-groupby="genre,artist") Genre / Artists
			.btn-group(style="margin-left: 5px;")
				button.btn.btn-default.dropdown-toggle.sortby-button(type="button", data-toggle="dropdown" aria-expanded="false")="Sort by"
					span.caret(style="margin-left: 5px;")
				ul.dropdown-menu.sortby.sortby-menu(role="menu")
					li
						a(data-sortby="artist") Artists
						a(data-sortby="album") Albums
						a(data-sortby="genre") Genre				

	if (data.message !== null)
		h1.message
			i.fa.fa-circle-o-notch.fa-spin
			span.text= data.message
	.user-sidebar.library-view.dark-theme
		.library
			ul.lib.group.artist.open
script.
	function initView(){
		$.ongaku.library.setGroupBy("#{session.groupby}");
		$.ongaku.library.setSortBy("#{session.sortby}");
		$.ongaku.library.reset();
		$.ongaku.library.clear();
		$.ongaku.library.setPage(0);
		$.ongaku.library.bind();
		$.ongaku.library.fetch();
	}
