extends layout.pug

block append userpage-content
    form#general.form-horizontal(method='post')
        .form-group
            label.col-sm-2.control-label= i18n.language
            .input-group
                select.form-control(name="lang")
                    for language in languages
                        if session.locale === language
                            option(value=language, selected)= i18n.i18n_languages[language]
                        else
                            option(value=language)= i18n.i18n_languages[language]
        .form-group
            label.col-sm-2.control-label access key
            .input-group.col-md-4
                input#tokenid.form-control(type='text', name='tokenid', style='background-color: #1a2226', value=key)
                span.input-group-btn
                    button.btn.btn-default#regenerate-token(title="Regenerate new", type='button')
                        i.fal.fa-sync
        .form-group
            label.col-sm-2.control-label User theme
            .input-group
                select.form-control(name="theme")
                    option(value="")= Default
                    if themes
                        for theme in themes
                            if session.theme === theme
                                option(value=theme, selected)= theme
                            else
                                option(value=theme)= theme
        .form-group
            label.col-sm-2.control-label Load custom theme
            .input-group.btn.btn-default
                input.btn.btn-default#theme-upload(type='file', name='upload-theme', accept=".css")
        .form-group
            .input-group(style='text-align: center')
                button.btn.btn-success.btn-lg(id="login", type="submit", style='width: 100%')= i18n.save

    script.
        $(function(){
            $('#regenerate-token').click(function(ev) {
                $('#tokenid').attr('value', Math.random().toString(36).substr(2, 16));
            });
            $('input[name=upload-theme]').customFile("Load theme");
            $("#theme-upload").liteUploader({
                script: "theme-upload"
            }).on("lu:progress", function (e, percentage) {
                $(this).parent().find("button").text("Uploading: " + percentage + "%");
            }).on("lu:success", function (e, response) {
                $(this).parent().find("button").text("Theme uploaded");
            });
        });