block player
	.player
		.pending-list
			.list
				for track in data.playlist
					.song
						.info
							.song-title= track.title
							.song-artist= track.artist
							.song-infos= track.duration
						.play
							.button(data-uid="#{track.uid}", data-encoding="#{track.encoding}") Play
						.layer
							.top
							.left
							.right
							.bottom

		audio#controls(controls="controls", width="100%")
			source#mp3src(type="audio/mp3", src="/stream/#{data.playing.uid}")