doctype html
html
    head
        block headpage
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", type="text/css", href="/dependencies/font-awesome/css/fontawesome-all.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/mediaelement/mediaelementplayer.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/mediaelement/player.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/alertify.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/themes/default.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jScrollPane/jquery.jscrollpane.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/video-js/video-js.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/spectrum/spectrum.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.theme.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.structure.min.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/izitoast/dist/css/iziToast.min.css")

        link(rel="stylesheet", type="text/css", href="/assets/application.min.css")

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/jquery-ui/jquery-ui.min.js")
        script(src="/dependencies/sticky-1.0.4.js")
        script(src="/dependencies/mediaelement/mediaelement-and-player.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js")
        script(src="/dependencies/jquery-mousewheel-3.1.12/jquery.mousewheel.min.js")
        script(src="/dependencies/alertifyjs-0.10.2/alertify.min.js")
        script(src="/dependencies/jScrollPane/jquery.jscrollpane.min.js")
        script(src="/dependencies/video-js/video.js")
        script(src="/dependencies/js-cookie.js")
        script(src="/dependencies/d3.js")
        script(src="/bower_components/spectrum/spectrum.js")
        script(src="/dependencies/jquery.liteuploader.min.js")
        script(src="/bower_components/izitoast/dist/js/iziToast.min.js")

        script(src="/assets/application.min.js")
        if !session.user.isAnonymous
            style.
                body{
                    background-image: url('/user/#{session.user.username}/background');
                }
        
        if session.theme
            link(rel="stylesheet", type="text/css", href='/themes/' + session.theme + '.css')
        if session.user.user_theme
            link(rel="stylesheet", type="text/css", href=session.user.user_theme)

    body
        a#responsive-menu
          i.fal.fa-bars
        #header.nav.navbar.navbar-default.navbar-fixed-top.header.menus(style="padding-left: 25px;",role="navigation")
            h1(style="float:left;margin:0px;")
                a.header-link(href="/")
                  include logo
            span.mini-title(style="float:left", data-toggle="popover", data-trigger="hover", data-placement="bottom", data-content="The open-source media streaming application") v0.0.1-beta
            div.navbar-header
                nav.nav.hidden-text.navbar-collapse.collapse.navbar-ex1-collapse(style="float:left; width: auto;")
                    ul.nav.navbar.varbar-nav.pull-left
                        li.nav-home
                            a.view(href="/", title="Acceuil", data-view="audio")
                                i.fal.fa-home
                                span.text= i18n.home
                        if !session.user.isAnonymous && session.user.administrator || meta.type == "desktop"
                            li.nav-cog
                                a.view(href="/admin", title="Administration", data-view='admin')
                                  i.fal.fa-cog
                                  span.text= i18n.admin_zone
                            li.nav-reload
                                a(href="#reload", title="Reload library")
                                  i.fal.fa-book
                                  span.text Reload lib
            div.nav.navbar-nav.navbar-right.pull-right(style="margin-right: 10px;")
                ul
                  li.dropdown#language-chooser(style="float: left; margin-left: 5px;")
                    a.dropdown-toggle(data-toggle="dropdown", data-original-title=i18n.language)
                      i.fal.fa-fw.fa-flag(title=i18n.language)
                    ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                      for language in languages
                        li
                          a.language(data-locale=language)= i18n.i18n_languages[language]
                    if meta.type == "browser"
                      unless session.user.isAnonymous
                          li.dropdown(style="float: left;")
                              a.dropdown-toggle#notif_dropdown(data-toggle="dropdown", data-original-title="Notifications")
                                  i.fal.fa-fw.fa-bell-o(title="Notifications")
                              ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                                  if session.notifications.count > 0
                                      li
                                          a(href="all")= i18n.all
                                      li.divider
                                          each notif in session.notifications.datas
                                              li
                                                  a(href="/notification")= notif
                      li.dropdown(style="float: left;margin-left: 0.8rem;")
                          a.dropdown-toggle(data-toggle="dropdown", data-original-title="Profile")
                              if session.user.avatar
                                  img.user-avatar(src="/user/"+session.user.username+"/avatar")
                              else
                                  if session.user.isAnonymous
                                      i.fal.fa-ellipsis-v
                                  else
                                      i.fal.fa-fw.fa-user
                          ul.dropdown-menu.user-status(role="menu")
                            if session.user.isAnonymous
                              li
                                a.view(href="/login", data-view="login")
                                  span= i18n.login
                              li
                                a.view(href="/register", data-view="register")
                                  span= i18n.register
                            else
                              li
                                a.view(href="/user/"+session.user.username+"/info", data-view="user/"+session.user.username+"/info")
                                    i.fa.fa-circle.status.online
                                    span#username(style="margin-left:10px;") #{session.user.username}
                              li
                                a(href="/logout")= i18n.logout
                              li.divider
                              li
                                a(data-status="online")
                                  i.fa.fa-circle.status.online
                                  span(style="margin-left:10px;")= i18n.status.online
                              li
                                a(data-status="away")
                                  i.fa.fa-circle.status.away
                                  span(style="margin-left:10px;")= i18n.status.away
                              li
                                a(data-status="busy")
                                  i.fa.fa-circle.status.busy
                                  span(style="margin-left:10px;")= i18n.status.busy
                              li
                                a(data-status="offline")
                                  i.fa.fa-circle.status.offline
                                  span(style="margin-left:10px;")= i18n.status.offline
            div.pull-right(style="padding-top: 6px;")
              input#base-color(type="text")
        nav.menu.main-menu.menus
            .menu.menu-discover
                ul
                    li
                        a.view(href="/featured", data-view="featured")
                            i.far.fa-star
                            div #{i18n.featured}
                    li
                        a.view(href="/", data-view="audio")
                            i.fa.fa-music
                            div #{i18n.music}
                    if meta.videoStream === 'true'
                      li
                          a.view(href="/video", data-view="video")
                              i.fab.fa-youtube
                              div #{i18n.video}
                    li
                        a.view(href="/users", data-view="users")
                            i.fa.fa-users
                            div #{i18n.ongaku_users}
                    li
                        a
                            i.far.fa-microphone-alt
                            div #{i18n.radios}
            if !session.user.isAnonymous
              .menu.me
                  ul
                      li
                          //TODO active view layer
                          a.view(href="/library", data-view="library")
                              i.far.fa-book
                              div #{i18n.library}
                      if meta.allowUpload === 'true'
                        li
                          a.vew(href="/upload", data-view="upload")
                              i.fa.fa-upload
                              div #{i18n.upload}
            .menu.project
                ul
                    li
                        a(href="https://github.com/svandecappelle/ongaku", target="_blank")
                            i.fab.fa-github(style="font-size: 20pt;")
                            div #{i18n.project}

        main.main-content
            block library
        block songlist
        include player
        include pending-play

        script.
          console.log('#{meta.type}');
          $(function(){
            initApplication({
              user: !{JSON.stringify(session.user)},
              meta: !{JSON.stringify(meta)},
              session: !{JSON.stringify(session)},
              theme: !{JSON.stringify(theme)}
            });
          });
        block scripts

        script.
          $(function(){
            try{
              $('.dropdown-toggle').dropdown();
              initView();
            } catch (e) {}
          });
