doctype html
html
    head
        block headpage
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", type="text/css", href="/dependencies/font-awesome-4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/mediaelement/mediaelementplayer.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/mediaelement/player.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/alertify.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/themes/default.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jScrollPane/jquery.jscrollpane.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/video-js/video-js.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/spectrum/spectrum.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.theme.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.structure.min.css")
        link(rel="stylesheet", type="text/css", href="/bower_components/izitoast/dist/css/iziToast.min.css")

        link(rel="stylesheet", type="text/css", href="/assets/application.min.css")

        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/jquery-ui/jquery-ui.min.js")
        script(src="/dependencies/sticky-1.0.4.js")
        script(src="/dependencies/mediaelement/mediaelement-and-player.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js")
        script(src="/dependencies/jquery-mousewheel-3.1.12/jquery.mousewheel.min.js")
        script(src="/dependencies/alertifyjs-0.10.2/alertify.min.js")
        script(src="/dependencies/jScrollPane/jquery.jscrollpane.min.js")
        script(src="/dependencies/socket.io/socket.io.js")
        script(src="/dependencies/video-js/video.js")
        script(src="/dependencies/js-cookie.js")
        script(src="/dependencies/d3.js")
        script(src="/bower_components/spectrum/spectrum.js")
        script(src="/dependencies/jquery.liteuploader.min.js")
        script(src="/bower_components/izitoast/dist/js/iziToast.min.js")

        script(src="/assets/application.min.js")
        
        if !session.user.isAnonymous
          style.
            body{
              background-image: url('/user/#{session.user.username}/background');
            }
    body
        a#responsive-menu
          i.fa.fa-bars
        #header.nav.navbar.navbar-default.navbar-fixed-top.header(style="padding-left: 25px;",role="navigation")
            h1(style="float:left;margin:0px;")
                a.header-link(href="/")
                  include logo
            span.mini-title(style="float:left", data-toggle="popover", data-trigger="hover", data-placement="bottom", data-content="The open-source media streaming application") v0.0.1-beta
            div.navbar-header
                nav.nav.hidden-text.navbar-collapse.collapse.navbar-ex1-collapse(style="float:left; width: auto;")
                    ul.nav.navbar.varbar-nav.pull-left
                        li.nav-home
                            a.view(href="/", title="Acceuil", data-view="audio")
                                i.fa.fa-home
                                span.text= i18n.home
                        if !session.user.isAnonymous && session.user.administrator
                            li.nav-cog
                                a.view(href="/admin", title="Administration", data-view='admin')
                                  i.fa.fa-cog
                                  span.text= i18n.admin_zone
                            li.nav-reload
                                a(href="#reload", title="Reload library")
                                  i.fa.fa-book
                                  span.text Reload lib
            div.nav.navbar-nav.navbar-right.pull-right(style="margin-right: 10px;")
                ul
                  li.dropdown#language-chooser(style="float: left; margin-left: 5px;")
                      a.dropdown-toggle(data-toggle="dropdown", data-original-title="#{i18n.language}")
                        i.fa.fa-fw.fa-flag(title="#{i18n.language}")
                      ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                        for language in languages
                          li
                            a.language(data-locale="#{language}")= i18n.i18n_languages[language]
                    unless session.user.isAnonymous
                        li.dropdown(style="float: left;")
                            a.dropdown-toggle#notif_dropdown(data-toggle="dropdown", data-original-title="Notifications")
                                i.fa.fa-fw.fa-bell-o(title="Notifications")
                            ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                                if session.notifications.count > 0
                                    li
                                        a(href="all")= i18n.all
                                    li.divider
                                        each notif in session.notifications.datas
                                            li
                                                a(href="/notification")= notif
                    li.dropdown(style="float: left;margin-left: 0.8rem;")
                        a.dropdown-toggle(data-toggle="dropdown", data-original-title="Profile")
                            if session.user.avatar
                                img.user-avatar(src="/user/#{session.user.username}/avatar")
                            else
                                if session.user.isAnonymous
                                    i.fa.fa-fw.fa-sign-in
                                else
                                    i.fa.fa-fw.fa-user
                        ul.dropdown-menu.user-status(role="menu")
                          if session.user.isAnonymous
                            li
                              a.view(href="/login", data-view="login")
                                span= i18n.login
                            li
                              a.view(href="/register", data-view="register")
                                span= i18n.register
                          else
                            li
                              a.view(href="/user/#{session.user.username}/info", data-view="user/#{session.user.username}/info")
                                  i.fa.fa-circle.status.online
                                  span#username(style="margin-left:10px;") #{session.user.username}
                            li
                              a(href="/logout")= i18n.logout
                            li.divider
                            li
                              a(data-status="online")
                                i.fa.fa-circle.status.online
                                span(style="margin-left:10px;")= i18n.status.online
                            li
                              a(data-status="away")
                                i.fa.fa-circle.status.away
                                span(style="margin-left:10px;")= i18n.status.away
                            li
                              a(data-status="busy")
                                i.fa.fa-circle.status.busy
                                span(style="margin-left:10px;")= i18n.status.busy
                            li
                              a(data-status="offline")
                                i.fa.fa-circle.status.offline
                                span(style="margin-left:10px;")= i18n.status.offline
            div.pull-right(style="padding-top: 6px;")
              input#base-color(type="text")
        nav.menu.main-menu
            .menu.menu-discover
                ul
                    li
                        a.view(href="/featured", data-view="featured")
                            i.glyphicon.glyphicon-star
                            div #{i18n.featured}
                    li
                        a.view(href="/", data-view="audio")
                            i.glyphicon.glyphicon-music
                            div #{i18n.music}
                    if meta.videoStream === 'true'
                      li
                          a.view(href="/video", data-view="video")
                              i.glyphicon.glyphicon-facetime-video
                              div #{i18n.video}
                    li
                        a.view(href="/users", data-view="users")
                            i.glyphicon.glyphicon-user
                            div #{i18n.ongaku_users}
                    li
                        a
                            i.glyphicon.glyphicon-tasks
                            div #{i18n.radios}
            if !session.user.isAnonymous
              .menu.me
                  ul
                      li
                          //TODO active view layer
                          a.view(href="/library", data-view="library")
                              i.glyphicon.glyphicon-book
                              div #{i18n.library}
                      if meta.allowUpload === 'true'
                        li
                          a.vew(href="/upload", data-view="upload")
                              i.glyphicon.glyphicon-upload
                              div #{i18n.upload}
            .menu.project
                ul
                    li
                        a(href="https://github.com/svandecappelle/ongaku", target="_blank")
                            i.fa.fa-github(style="font-size: 20pt;")
                            div #{i18n.project}

        main.main-content
            block library
        block songlist
        include player
        include pending-play

        script.
          $.ongaku.setUser(!{JSON.stringify(session.user)});
          $.ongaku.setProperties(!{JSON.stringify(meta)});
          $.ongaku.library.setGroupBy("#{session.groupby}");
          $(function () {
            $('#responsive-menu').on('click', function(){
              $("#header").toggleClass("show");
              $("nav.menu").toggleClass("show");
              $("body").toggleClass("cannot-scroll");
              new Sticky('section.song-list > .list-container .playlist-columns');
            });
            $.ongaku.playlist.bind();
            $.ongaku.playlist.fetch();
          });
        script.
          videojs.options.flash.swf = "http://#{session.host}/video-js/video-js.swf";
          function processAjaxData(idContent, html, urlPath){
            $(idContent).html(html);
          }
          
          function loadView(ev, view){
            ev.preventDefault();
            //ev.stopPropagation();
            $.get("/api/view/".concat(view), function(html){
              processAjaxData(".main-content", html, view);
              window.history.pushState(view, "", "/".concat(view));
              $('.dropdown-toggle').dropdown();
              if (initView){
                initView();
              }
            });
          }
          
          $(function () {
            var basecolor = Cookies.get("base-color");
            if (basecolor){
              $.ongaku.themer.setBaseColor(basecolor);
            } else {
              $.ongaku.themer.setBaseColor("#{theme['base-color']}");
            }
            $("#base-color").spectrum({
              color:  basecolor ? basecolor : "#{theme['base-color']}",
              "body": "input.colorpicker",
              "showAlpha": true,
              "preferredFormat": "rgb",
              move: function(color) {
                  $.ongaku.themer.setBaseColor(color.toRgbString());
              }
            });
            
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
            $('.scroll-pane').jScrollPane();
            $.ongaku.build();
            $.ongaku.controls.bind();
            var socket = io.connect('http://#{session.host}/');
            socket.on('connect', function () {
                console.log("Connected");
                $.chat.init(socket, $.ongaku.getUser().username);
            });
            
            socket.on('library:scanned', function () {
              iziToast.show({
                close: false,
                position: 'topCenter',
                message: '<a href="/">Library was reloaded: click here to refresh</a>',
                transitionIn: 'flipInX',
                transitionOut: 'flipOutX',
                progressBarColor: 'rgb(0, 255, 184)',
                image: '/img/album.jpg',
                imageWidth: 70,
                layout:2,
                timeout: false,
                icon: 'icon-contacts',
                title: 'Library is loading:',
                iconColor: 'rgb(0, 255, 184)'
              });
            });
            socket.on('library-scanner:progress', function(ev){
              if ($("#progress-loading-message").length === 0){
                iziToast.show({
                  close: false,
                  position: 'topCenter',
                  id: 'progress-loading-message',
                  message: '<div class="progress" style="min-width: 300px; height: 10px;"> <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: ' + ev.value + '%"></div></div>',
                  transitionIn: 'flipInX',
                  transitionOut: 'flipOutX',
                  progressBarColor: 'rgb(0, 255, 184)',
                  image: '/img/album.jpg',
                  imageWidth: 70,
                  layout:2,
                  timeout: false,
                  color: 'dark',
                  icon: 'icon-contacts',
                  title: 'Library is loading:',
                  iconColor: 'rgb(0, 255, 184)'
                });
              }
              $("#progress-loading-message .iziToast-body p.slideIn").html('<div class="progress" style="min-width: 300px; height: 10px;"><div class="progress-bar progress-bar-info progress-bar-striped active" style="width: ' + ev.value + '%"></div></div>');
            });
            
            $(".nav-reload>a").on("click", function(){

              var message = $("<h1>", {
                class: "message"
              });
              message.append($("<i>", {
                class: "fa fa-circle-o-notch fa-spin"
              }));
              var loadingText = $("<span>", {
                class: "text"
              });
              message.append(loadingText);
              loadingText.html("Reloading library");
              $(".sidebar.show").append(message);

              $.get("/api/reload/audio/library", function(output){
                $(".sidebar.show>.message").remove();
                $.ongaku.library.rebuild(output, "audio");
              });
            });
            $("a.view").on("click", function(ev){
              loadView(ev, $(this).data("view"));
              $("#header").removeClass("show");
              $("nav.menu").removeClass("show");
            });
              
            // Revert to a previously saved state
            window.addEventListener('popstate', function(event) {
              var view = event.state !== null ? event.state : "audio";
              $.get("/api/view/".concat(view), function(html){
                processAjaxData(".main-content", html, view);
                if (initView){
                  initView();
                }
              });
            });

            $('#language-chooser .language').on('click', function(){
              var lang = $(this).data('locale');
              $.post('/user/set-locale', {
                lang: lang
              }, function(response){
                if (response.status === 200){
                  window.location.reload();
                }
              });
            });
          });

        block scripts

        script.
          $(function(){
            try{
              $('.dropdown-toggle').dropdown();
              initView();
            } catch (e){
              
            }
          });
