doctype html
html
    head
        block headpage
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", type="text/css", href="/dependencies/font-awesome-4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/mediaelement/mediaelementplayer.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/mediaelement/player.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/bootstrap-3.3.6-dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/alertify.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/alertifyjs-0.10.2/css/themes/default.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jScrollPane/jquery.jscrollpane.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/video-js/video-js.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/spectrum/spectrum.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.theme.min.css")
        link(rel="stylesheet", type="text/css", href="/dependencies/jquery-ui-1.12.1/jquery-ui.structure.min.css")

        link(rel="stylesheet", type="text/css", href="/lib/video-js-ongaku-theme.css")
        link(rel="stylesheet", type="text/css", href="/lib/main.css")
        link(rel="stylesheet", type="text/css", href="/lib/chat.css")
        link(rel="stylesheet", type="text/css", href="/lib/media-theme.css")

        script(src="/dependencies/jquery/jquery-2.1.1.min.js")
        script(src="/dependencies/jquery-ui-1.12.1/jquery-ui.min.js")
        script(src="/dependencies/sticky-1.0.4.js")
        script(src="/dependencies/mediaelement/mediaelement-and-player.js")
        script(src="/dependencies/bootstrap-3.3.6-dist/js/bootstrap.js")
        script(src="/dependencies/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js")
        script(src="/dependencies/jquery-mousewheel-3.1.12/jquery.mousewheel.min.js")
        script(src="/dependencies/alertifyjs-0.10.2/alertify.min.js")
        script(src="/dependencies/jScrollPane/jquery.jscrollpane.min.js")
        script(src="/dependencies/socket.io/socket.io.js")
        script(src="/dependencies/video-js/video.js")
        script(src="/dependencies/js-cookie.js")
        script(src="/dependencies/d3.js")
        script(src="/dependencies/spectrum/spectrum.js")
        script(src="/dependencies/jquery.liteuploader.min.js")

        script(src="/lib/app.js")
        script(src="/lib/audiowave.js")
        script(src="/lib/chat.js")
        if !session.user.isAnonymous
          style.
            body{
              background-image: url('/user/#{session.user.username}/background');
            }
        style.
          textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
            border-bottom-color: #{theme['base-color']};
            box-shadow: none;
          }
          .form-control:focus {
            border-bottom-color: #{theme['base-color']};
            box-shadow: none;
          }
          .loading-slide .slide{
            background: #{theme['base-color']};
          }
          .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
            background-color: #{theme['base-color']};
          }
          nav a:hover {
            color: #{theme['base-color']};
          }
          
          .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
            color: white;
            background: #{theme['base-color']};
          }
          
          .message-box .nav-tabs{
            border-bottom: 1px solid #{theme['base-color']};
          }

          .chat-container .nav > li > a{
            border-top: 1px solid #{theme['base-color']};
            border-left: 1px solid #{theme['base-color']};
            border-right: 1px solid #{theme['base-color']};
          }
          
        script.
          $.ongaku.themer.setBaseColor("#{theme['base-color']}");
    body
        a#responsive-menu
          i.fa.fa-bars
        #header.navbar.navbar-default.navbar-fixed-top.header(style="padding-left: 25px;",role="navigation")
            h1(style="float:left;margin:0px;")
                a.header-link(href="/")
                  include logo
            span.mini-title(style="float:left", data-toggle="popover", data-trigger="hover", data-placement="bottom", data-content="The open-source media streaming application") v0.0.1-beta
            div.navbar-header
                nav.hidden-text.navbar-collapse.collapse.navbar-ex1-collapse(style="float:left; width: auto;")
                    ul.nav.navbar.varbar-nav.pull-left
                        li.nav-home
                            a.view(href="/", title="Acceuil", data-view="audio")
                                i.fa.fa-home
                                span.text Acceuil
                        if !session.user.isAnonymous && session.user.administrator
                            li.nav-cog
                                a.view(href="/admin", title="Administration", data-view='admin')
                                  i.fa.fa-cog
                                  span.text Admin
                            li.nav-reload
                                a(href="#reload", title="Reload library")
                                  i.fa.fa-book
                                  span.text Reload lib
            div.pull-right(style="padding-top: 6px;")
              input#base-color(type="text")
            div.nav.navbar-nav.navbar-right.pull-right(style="margin-right: 10px;")
                ul
                    unless session.user.isAnonymous
                        li.dropdown(style="float: left;")
                            a.dropdown-toggle#notif_dropdown(data-toggle="dropdown", data-original-title="Notifications")
                                i.fa.fa-fw.fa-bell-o(title="Notifications")
                            ul.dropdown-menu(role="menu", aria-labelledby="dropdownMenu")
                                if session.notifications.count > 0
                                    li
                                        a(href="all") Tous
                                    li.divider
                                        each notif in session.notifications.datas
                                            li
                                                a(href="/notification")= notif

                    li.dropdown(style="float: left; margin-left: 5px;")
                        a.dropdown-toggle(data-toggle="dropdown", data-original-title="Profile")
                            if session.user.avatar
                                img.user-avatar(src="/user/#{session.user.username}/avatar")
                            else
                                if session.user.isAnonymous
                                    i.fa.fa-fw.fa-sign-in
                                else
                                    i.fa.fa-fw.fa-user
                        ul.dropdown-menu.user-status(role="menu")
                          if session.user.isAnonymous
                            li
                              a.view(href="/login", data-view="login")
                                span Connection
                            li
                              a.view(href="/register", data-view="register")
                                span Register
                          else
                            li
                              a.view(href="/user/#{session.user.username}/info", data-view="user/#{session.user.username}/info")
                                  i.fa.fa-circle.status.online
                                  span#username(style="margin-left:10px;") #{session.user.username}
                            li
                              a(href="/logout") Deconnection
                            li.divider
                            li
                              a(data-status="online")
                                i.fa.fa-circle.status.online
                                span(style="margin-left:10px;") En ligne
                            li
                              a(data-status="away")
                                i.fa.fa-circle.status.away
                                span(style="margin-left:10px;") Absent
                            li
                              a(data-status="busy")
                                i.fa.fa-circle.status.busy
                                span(style="margin-left:10px;") Occupé
                            li
                              a(data-status="offline")
                                i.fa.fa-circle.status.offline
                                span(style="margin-left:10px;") Hors ligne

        nav.menu.main-menu
            .menu.menu-discover
                ul
                    li
                        a.view(href="/featured", data-view="featured")
                            i.glyphicon.glyphicon-star
                            div #{featured}
                    li
                        a.view(href="/", data-view="audio")
                            i.glyphicon.glyphicon-music
                            div #{music}
                    if meta.videoStream === 'true'
                      li
                          a.view(href="/video", data-view="video")
                              i.glyphicon.glyphicon-facetime-video
                              div #{video}
                    li
                        a.view(href="/users", data-view="users")
                            i.glyphicon.glyphicon-user
                            div #{ongaku_users}
                    li
                        a
                            i.glyphicon.glyphicon-tasks
                            div #{radios}
            if !session.user.isAnonymous
              .menu.me
                  ul
                      li
                          //TODO active view layer
                          a.view(href="/library", data-view="library")
                              i.glyphicon.glyphicon-book
                              div #{library}
                      if meta.allowUpload === 'true'
                        li
                          a.vew(href="/upload", data-view="upload")
                              i.glyphicon.glyphicon-upload
                              div #{upload}
            .menu.project
                ul
                    li
                        a(href="https://github.com/svandecappelle/ongaku", target="_blank")
                            i.fa.fa-github(style="font-size: 20pt;")
                            div #{project}

        main.main-content
            block library
        block songlist
        include player
        include pending-play

        script.
          $.ongaku.setUser("#{session.user.username}");
          $.ongaku.library.setGroupBy("#{session.groupby}");
          $(function () {
            $('#responsive-menu').on('click', function(){
              $("#header").toggleClass("show");
              $("nav.menu").toggleClass("show");
              $("body").toggleClass("cannot-scroll");
              new Sticky('section.song-list > .list-container .playlist-columns');
            });
            $.ongaku.playlist.bind();
            $.ongaku.playlist.fetch();
          });
        script.
          videojs.options.flash.swf = "http://#{session.host}/video-js/video-js.swf";
          function processAjaxData(idContent, html, urlPath){
            $(idContent).html(html);
          }
          
          function loadView(ev, view){
            ev.preventDefault();
            //ev.stopPropagation();
            $.get("/api/view/".concat(view), function(html){
              processAjaxData(".main-content", html, view);
              window.history.pushState(view, "", "/".concat(view));
              if (initView){
                initView();
              }
            });
          }
          
          $(function () {
            var basecolor = Cookies.get("base-color");
            $("#base-color").spectrum({
              color:  basecolor ? basecolor : "#0f0",
              "body": "input.colorpicker",
              "showAlpha": true,
              "preferredFormat": "rgb",
              move: function(color) {
                  $.ongaku.themer.setBaseColor(color.toRgbString());
              }
            });
            
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
            $('.scroll-pane').jScrollPane();
            $.ongaku.build();
            $.ongaku.controls.bind();
            var socket = io.connect('http://#{session.host}/');
            socket.on('connect', function () {
                console.log("Connected");
                $.chat.init(socket, $.ongaku.getUser());
            });
            
            socket.on('library:scanned', function () {
                console.log("Library scanned");
                location.reload();
            });
            
            $(".nav-reload>a").on("click", function(){

              var message = $("<h1>", {
                class: "message"
              });
              message.append($("<i>", {
                class: "fa fa-circle-o-notch fa-spin"
              }));
              var loadingText = $("<span>", {
                class: "text"
              });
              message.append(loadingText);
              loadingText.html("Reloading library");
              $(".sidebar.show").append(message);

              $.get("/api/reload/audio/library", function(output){
                $(".sidebar.show>.message").remove();
                $.ongaku.library.rebuild(output, "audio");
              });
            });
            $("a.view").on("click", function(ev){
              loadView(ev, $(this).data("view"));
              $("#header").removeClass("show");
              $("nav.menu").removeClass("show");
            });
              
            // Revert to a previously saved state
            window.addEventListener('popstate', function(event) {
              var view = event.state !== null ? event.state : "audio";
              $.get("/api/view/".concat(view), function(html){
                processAjaxData(".main-content", html, view);
                  if (initView){
                    initView();
                  }
                });
              });
            });

        block scripts

        script.
          $(function(){
            try{
              initView();
            } catch (e){
              
            }
          });
