block player
	#wave
	if !meta.requireAuthentication || (meta.requireAuthentication && !session.user.isAnonymous) 
		.player
			audio#controls(controls="controls", width="100%")
				if (data.playing)
					source(type="audio/#{data.playing.encoding}", src="/api/stream/#{data.playing.uid}.#{data.playing.encoding}")
	else
		.player.empty
			span #{stream_auth_required}
			
	if (data.playing)
		script.
			$(function(){
				$.ongaku.setCurrent("#{data.playing.uid}");
			});
