block player
	#wave
	.player.audio-player.is-paused
		.song-info
			img.current-playing-image
			button.previous(disabled)
				i.fa.fa-step-backward
			button.playpause.is-paused(disabled)
				i.fa.fa-play
			button.next(disabled)
				i.fa.fa-step-forward
			.title
			.song-time
				.song-current-time
				.song-duration
		.media
			if !meta.requireAuthentication || (meta.requireAuthentication && !session.user.isAnonymous) 
				audio#controls(controls="controls", width="100%;")
					if (data.playing)
						source(type="audio/#{data.playing.encoding}", src="/api/stream/#{data.playing.uid}.#{data.playing.encoding}")
			else
				.player.empty
					span #{stream_auth_required}
			
	if (data.playing)
		script.
			$(function(){
				$.ongaku.setCurrent("#{data.playing.uid}");
			});
