section.sidebar.show
  .search 
    .col-lg-8.col-md-8
      .input-group
        h1 Fiche utilisateur
  .user-sidebar.library-view
    div.account(data-sticky-container)
      div.cover.initialised(style="background-image: url(/user/"+user.username+"/cover?"+token+"); background-position: 47.0141% 20.4126%;")
        div.avatar-container
          div.avatar(style="z-index: 1;")
            img.user-profile-picture(src="/user/" + user.username +"/avatar?"+token)
          i(data-user=user.username, class="fa fa-circle status" + user.status)
        div.container
          div.btn-group.account-fab(style="z-index: 1;")
            button.fab.dropdown-toggle(type="button", data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              i.fa.fa-ellipsis-v
            ul.dropdown-menu.dropdown-menu-right
              li
                a.inline-block(href="/user/" + user.username + "/info", id="profile") Profil
              li
                a(href="edit") Paramètres
          div.controls(style="position: absolute")
            span.upload(style="z-index: 2")
              i.fa.fa-fw.fa-4x.fa-upload
            span.remove
              i.fa.fa-fw.fa-4x.fa-times
            div.save Enregistrer 
              i.fa.fa-fw.fa-floppy-o
      div.profile.panel
        ol.breadcrumb
          li
            a.view(href="/", data-view="audio")
               span Accueil
          li.active
            span #{user.username}
        h1.fullname #{user.username}
        h2.username @#{user.username}
        div.text-center.profile-meta
          span Inscrit
          strong.timeago(title="Fri Nov 20 2015 14:41:16 GMT+0100 (CET)") il y a environ #{user.signup}
          span Dernière connexion
          strong.timeago(title="Fri Feb 12 2016 15:29:48 GMT+0100 (CET)") il y a environ #{user.lastconnection}
          br
          span Email
          strong
            i.fa.fa-eye-slash(title="Email masqué")
        div.row
          div.col-md-2.col-sm-4.text-center#account-editions(data-margin-top="110")
            div.account-picture-block
              div.avatar-container
                div.avatar
                  img.user-profile-picture(src="/user/" + user.username + "/avatar?"+token)
            ul.list-group
              li
                a.list-group-item.custom-file-upload
                  input.img-upload(type="file", name="avatar")
              li
                a.list-group-item.custom-file-upload
                  input.img-upload(type="file", name="background")
              li
                a.list-group-item.custom-file-upload
                  input.img-upload(type="file", name="cover")
              li
                a.list-group-item.modalview(data-toggle="modal") Changer le mot de passe
              li
                a.btn.btn-danger#deleteAccountBtn(href="#") Supprimer le compte
          div.col-md-10(style='float: right;')
            block userpage-content
          include change-password
script.
  function initView(){
    $('input[name=avatar]').customFile("Changer avatar");
    $('input[name=background]').customFile("Changer fond");
    $('input[name=cover]').customFile("Changer couverture");

    var stickyAccountEdition = new Sticky('#account-editions', {
      'data-sticky-wrap': true
    });
    $(".img-upload").liteUploader({
      script: "upload"
    })
    .on("lu:progress", function (e, percentage) {
      $(this).parent().find("button").text("Uploading: " + percentage + "%")
    })
    .on("lu:success", function (e, response) {
      var uploadedimage = $(this).attr("name");
      if (uploadedimage === "avatar" && "#{session.user.username}" === $.ongaku.getUser().username){
        $("img.user-profile-picture").attr("src", "avatar?" + new Date().getTime());
        $(this).parent().find("button").text("Changer avatar");
      } else if (uploadedimage === "cover" && "#{session.user.username}" === $.ongaku.getUser().username){
        $("div.cover").css({
          "background-image": "url('/user/#{session.user.username}/cover?" + new Date().getTime() + "')"
        });
        $(this).parent().find("button").text("Changer couverture");
      } else if (uploadedimage === "background" && "#{session.user.username}" === $.ongaku.getUser().username) {
        $(".main-content").css({
          "background-image": "url('/user/#{session.user.username}/background?" + new Date().getTime() + "')"  
        });
        $(this).parent().find("button").text("Changer fond");
      }
    });
    $(".img-upload").on('change', function () {
      console.log("changed image");
      // $(this).data("liteUploader").startUpload();
    });
    $(".modalview").on("click", function(){
      $('#changePassword').modal();
    });
  }
